@import "tailwindcss";

:root {
 /*  --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  --font-sans: var(--font-rubik);
  --shadow-default: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background-color: #fbf8ec);
  color: var(--foreground);
  font-family: var(--font-rubik), san-serif;
}
